In [10]:
import pandas as pd
from datetime import date, timedelta
p=pd.read_csv('pp.csv', header=None)
for i in range(len(p)):
    temp=p[0][i].split('.')
    p[0][i]=date(int(temp[0]),int(temp[1]),int(temp[2]))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
result_df = pd.DataFrame(p)
result_df = result_df.set_index(0) # 이 과정이 없으면 merge가 안된다.
result_df.head()

               1       2    3
0
2020-08-31  0.55  12.24%    d
2020-08-28  0.49  -2.00%  NaN
2020-08-27  0.50  -5.66%  NaN
2020-08-26  0.53   1.92%  NaN
2020-08-25  0.52  -1.89%  NaN

In [12]:
p[0]

0       2020-08-31
1       2020-08-28
2       2020-08-27
3       2020-08-26
4       2020-08-25
           ...
4867    2001-01-12
4868    2001-01-11
4869    2001-01-10
4870    2001-01-09
4871    2001-01-08
Name: 0, Length: 4872, dtype: object

In [13]:
fulldate = pd.DataFrame(columns = [0])
start = date(2001, 1, 9)
end = date(2020, 9, 1)
for n in range(int((end - start).days) + 1):
    fulldate.loc[n, 0] = start + timedelta(n)
fulldate

               0
0     2001-01-09
1     2001-01-10
2     2001-01-11
3     2001-01-12
4     2001-01-13
...          ...
7171  2020-08-28
7172  2020-08-29
7173  2020-08-30
7174  2020-08-31
7175  2020-09-01

[7176 rows x 1 columns]

In [14]:
rate = fulldate.merge(result_df, on = 0, how = 'outer')

In [15]:
rate[1] = rate[1].fillna(method='ffill')
rate[2] = rate[2].fillna(method='bfill')

In [16]:
rate = rate.set_index(0)

In [61]:
rate.head(10)

               1       2     3
0
2001-01-09  5.30  -0.38%  down
2001-01-10  5.32   0.38%    up
2001-01-11  5.32   0.00%     0
2001-01-12  5.33   0.19%    up
2001-01-13  5.33  -0.56%  down
2001-01-14  5.33  -0.56%  down
2001-01-15  5.30  -0.56%  down
2001-01-16  5.31   0.19%    up
2001-01-17  5.31   0.00%     0
2001-01-18  5.32   0.19%    up

In [60]:
for i in range(len(rate)):
    if rate[2][i]=='0.00%':
        rate[3][i]='0'       
    elif rate[2][i][0]=='-':
        rate[3][i]='down'
    else:
        rate[3][i]='up'
    
        
rate.to_csv("pppp.csv")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until